@import url(https://fonts.googleapis.com/css?family=Open+Sans:300|Titillium+Web:700);

.jonh {
  min-height: 100vh;
  width: 100vw;
	background:url(http://i.giphy.com/jcxtvm2bsZDH2.gif);
	background-repeat:no-repeat;
	background-position:bottom center;
	background-size:90% cover;
	font-family: 'Titillium Web', sans-serif;
	color:#fff;
  background-color:#1BCF00;
  margin-top: -6rem;

  .travolta{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    background-color:rgba(0,0,0,0.65);
    min-height:100vh;
    text-align:center;

    h1 {
      font-size:30vw;
      font-weight:700;
      color: rgba(#fff, .2)
    }

    p {
      font-family: 'Open Sans', sans-serif;
      font-weight:300;
      font-size:5vw;
      margin-bottom:30px;
      color: rgba(#fff, .4)
    }

    a {
      border-radius:25px;
      background:none;
      color:#fff;
      font-size:18px;
      padding:10px 20px;
      border:2px solid #fff;
      text-decoration:none;
      &:hover{
        background:#fff;
        color:#212121;
      }
    }
  }

}
